.content {
  font-size 40px
}

body{
  font-size: 18px !important
}
blockquote{
  background-color: antiquewhite !important
  font-size: 18px !important
  color: grey !important
  border-left: none !important
  border-radius: 6px !important
}

.side-bar .sub-sidebar-wrapper{
  width: 20em !important  
}